<html>
<head></head>
<body>
<a href="{{ path('app_home')}}">home page</a>
<a href="{{ path('app_contact')}}">about us</a>
<a href="{{ path('app_reclamation')}}">Reclamation</a>
<h1> contact{{ name }}</h1>
</body>
</html>
